* {
  box-sizing: border-box;
}

form {
  border: 2px solid black;
  padding: 5px;
}

legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
  margin-bottom: 5px;
}

fieldset {
  margin-bottom: 5px;
}

h1 {
  text-align: center;
}

li {
  text-align: center;
  list-style-type: none;
  border: 1px solid grey;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.bookmark-section {
  margin: 5px;
  text-align: center;
}

.js-list-title {
  display: block;
}

.js-list-rating {
  display: block;
}

.js-list-description {
  display: block;
}

.js-list-delete {
  display: block;
  margin: auto;
}

.js-visit-site {
  display: block;
  margin: auto;
}

.js-list-wrapper {
  position: relative;
}
